/* CSS goes here - inside <style> tags in the <head> */
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.gallery-container {
    /* display: flex; */
    align-items: center;
    gap: 30px;
}

.button-container {
    display: flex;
    gap: 20px; /* Space between buttons */
    margin-bottom: 20px;
}



.gallery-btn {
    background: #0054d1ff;
    color: white;
    border: none;
    border-radius: 40%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#gallery-image {
    max-width: 80%;
    max-height: 70vh;
    border-radius: 10px;
}
