/**
 * _layout.scss
 * Styles for managing the structural hierarchy of the site.
 */

.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  10rem;
  margin-right: 10rem;
}

.ftr-links a {
  color: $post-title-color;
  padding: 0 0.3rem;
}
